<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176412170-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-176412170-1');
</script>

<!-- meta tag -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://180songs.com/">
<meta property="og:title" content="180songs — Discover 180 degree different songs from your music styles">
<meta property="og:description" content="Discover 180 degree different songs from your music styles">
<meta property="og:image" content="https://180songs.com/og-image.png">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
